.checkout-container {
  flex-wrap: wrap;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-inline: 10px;
    background-color: rgb(216, 213, 213);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .pro {
    width: 17%;
  }
  .header-block {
    font-style: italic;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .total-box {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: flex-end;
    .total {
      min-width: 100px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 2px;
      background-color: rgb(216, 213, 213);
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      font-style: italic;
      font-weight: 800;
    }
  }
}
