.checkout-container {
  width: 60%;
  margin-left: 20%;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-inline: 10px;
  }
  .header-block {
    font-style: italic;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .total-box {
    font-style: italic;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: flex-end;
    .total {
      min-width: 100px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 2px;
      background-color: rgb(214, 153, 153);
    }
  }
}
