.paymentBox {
  .payBtn {
    background-color: black;
    color: aliceblue;
    margin-top: 20px;
    display: flex;
    justify-self: end;
    width: 100px;
    &:hover {
      background-color: rgb(130, 128, 128);
      color: rgb(252, 252, 253);
    }
  }

  .cardEl {
    height: 20px;
  }
  .cardControl {
    height: 3rem;
    background-color: rgb(232, 235, 235);
    display: flex;
    justify-content: center;
    justify-items: center;

    border: groove;
    border-radius: 20px;
    padding: 5px;
    margin-top: 5px;
  }
}
