.navigationBar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-bottom: 0%;

  .logo-container {
    height: 100%;
    width: 70px;
    // padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    // display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 0%;
    .nav-link {
      padding-right: 15px;
      cursor: pointer;
      color: black;
    }
  }
  .link {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    justify-self: center;
    text-align: center;
    justify-items: center;

    &:hover {
      border-bottom: 4px solid darkcyan;
      color: darkcyan;
    }
  }
  .link-label {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-content: center;
    &:hover {
      border-bottom: 4px solid darkcyan;
      color: white;
      border-bottom-right-radius: 20px;
    }
  }
  .searchBox {
    width: 100%;
    height: 60%;
    display: flex;
    align-self: center;
    justify-content: end;
    border-radius: 50px;
    .searchBar {
      width: 80%;
      height: 100%;
    }
  }
}
