.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .cart-button {
    background-color: darkcyan;
    color: black;
    border-radius: 10px;
    &:hover {
      border-bottom: 4px solid black;
      color: black;
    }
    .shopping-icon {
      width: 35px;
      height: 35px;
    }
    .item-count {
      position: absolute;
      font-size: 15px;
      font-weight: bold;
      bottom: 5px;
    }
  }
}
